<div class="profile-card">


<div class="tasks">
<h1>Edit Profile</h1>

<form action="/{{_id}}/edit-profile" enctype="multipart/form-data" method="post">
    <label for="name">Name:</label><br>
    <input type="text" name="name" value="{{name}}"><br>
    <label for="email">Email:</label><br>
    <input type="text" name="email" value="{{email}}"><br>
    <label for="direction">Direction:</label><br>
    <input type="text" name="direction" value="{{direction}}"><br>
    <label for="picture">Picture:</label><br>
    <input type="file" name="picture" value="{{picture}}"><br>

<button type="submit"> Edit! </button>
</form>

{{#if message}}
<p>{{message}}</p>
<a href="/">go back</a>
{{/if}}

</div>
</div>