<h1> Hi {{currentUser.name}}, here is your TO-DO list:</h1>


<div class="todo-card">
    <h2>{{currentUser.name}}</h2>
    <p>{{currentUser.email}}</p>


    <p> completed: {{done}}</p>

    {{#unless done }}
    <a class="button" href="/priv/completed-todo/{{_id}}">completed</a>
    {{/unless}}

    <a class="button" href="/priv/delete-todo/{{_id}}">delete</a>
</div>
{{#each newTask}}
   {{newTask}}
{{/each}}


{{#unless newTask}}
<p>You have nothing to do</p>
{{/unless}}
<br>
<a href="/create-todo">create a todo</a>