<h1> Hi {{user.name}}, here is your TO-DO list:</h1>


<div class="todo-card">
    <h2>{{user.name}}</h2>
    <p>{{user.email}}</p>
    {{#each user.tasks}}
    <h1>Name: {{this.name}}</h1>
    <h2>Description: {{this.description}}</h2>
    {{/each}}
    <p>Tarea que realizar: </p>
    
    <a class="button" href="/priv/delete-todo/{{_id}}">delete</a>
</div>




<p>You have nothing to do</p>

<br>
<a href="/create-todo">create a todo</a>