<div class="profile-card">
<div class="todo-card">
    <h1> Hi {{user.name}}, Welcome to your Profile</h1>
    <img src="{{user.picture}}" width="150px"alt="">
    <p>{{user.email}}</p>
     <div style="width: 100%"><iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&height=400&hl=es&q={{user.direction}}+(Mi%20nombre%20de%20egocios)&ie=UTF8&t=&z=17&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/calcular-ruta.html"></a></iframe></div>

    <a href="/create-task">Create new task</a>
    <a href="/{{user._id}}/edit-profile">Edit Profile</a>
</div>

</div>

<div>
    <div class="flex-wrap">
        <h1>I need help with</h1>
    </div>
    
    <div class="flex-wrap">
        {{#each user.tasks}}
        <div class="tasks">
            <h1>{{this.name}}</h1>
            <h2> {{this.description}}</h2>
            {{#if this.assigned}}
            <h2>Accepted By: {{this.assigned.name}}</h2>
            <img src="{{this.assigned.picture}}" alt="">

            {{/if}}
            <form class="button" action="/{{this.id}}/profile" method="POST">
                <button type="submit">Delete!</button>
            </form>
            <a href="/{{this.id}}/edit">Edit</a>
        </div>
        {{else}}
        <p>I don't need help for now</p>
        {{/each}}
    </div>
    <div class="flex-wrap">
    <h1>I'm gonna help</h1>
    </div>
    <div class="flex-wrap">
        {{#each user.requests}}
        <div class="tasks">
            
            <h1>{{this.creator.name}}</h1>
            <img src="{{this.creator.picture}}" alt="">
            <h1>{{this.name}}</h1>
            <h2> {{this.description}}</h2>
            <form class="button" action="/{{this.id}}/profile" method="POST">
                <button type="submit">Complete!</button>
            </form>
           
        </div>
        {{else}}
        <p>I haven't accepted any task yet</p>
        {{/each}}
    </div>

</div>


