<h1> Hi {{user.name}}, here is your TO-DO list:</h1>


<div class="todo-card">
    <h2>{{user.name}}</h2>
    <p>{{user.email}}</p>

    <div class="flex-wrap">
        {{#each user.tasks}}
        <div class="tasks">

            <h1>Name: {{this.name}}</h1>
            <h2>Description: {{this.description}}</h2>
            <form class="button" action="/{{this.id}}/profile" method="POST">
            <button type="submit">Delete!</button>
            </form>
        </div>
        {{/each}}
    </div>

</div>




<p>You have nothing to do</p>

<br>
<a href="/create-todo">create a todo</a>